{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guliko Abramishvili</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <br>
    <div class="container">
        <div class ="row">
            <div class ="col-md-3">
                <div class = "card-card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/profile.jpg' %}">
                    <hr>
                    <h5 class="heads">CONTACT</h5>
                    <p class="details"><b>Address:</b> Tbilisi, Georgia</p>
                    <p class="details"><b>Cell:</b> +995 598 90 20 32</p>
                    <p class="details"><b>Gmail:</b> gulonamikaze@gmail.com</p>
                    <ul class="social-links" style="display: inline-block; list-style-type: none;">
                        <li  style="display: inline-block; margin-right: 10px;">
                            <a href="https://www.facebook.com/fallen.flower.79">
                                <img class="social" src="{% static 'images/facebook.jpg' %}">
                            </a>
                        </li>
                        <li  style="display: inline-block; margin-right: 10px;">
                            <a href="https://www.linkedin.com/in/gulo-abramishvili-4532a51ab">
                                <img class="social" src="{% static 'images/linkdn.png' %}">
                            </a>
                        </li>
                        <li  style="display: inline-block; margin-right: 10px;">
                            <a href="https://github.com/Gulo667">
                                <img class="social" src="{% static 'images/github.png' %}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class ="col-md-9">
                <div class = "card-card-body h100" id="main">
                    <h3 id="name">GULIKO ABRAMISHVILI</h3>
                    <hr>
                    <h5 class="heads">CURRENT WORK EXPERIENCE</h5>
                    <h6><b>Exactpro-Systems</b> - Junior Software Tester | <i>Remote</i></h6>
                    <h7 class="work-time">18/05/2022 - <b>Present</b></h7>
                    <br>
                    <ul>
                        <li>
                            <p class="par"><i> Monitoring the condition of a project and managing
                                automation and manual testing using internal tools</i>
                            </p>
                        </li>
                        <li>
                            <p class="par"><i> Developing test scenarios, plans, and scripts using bash
                                scripting and python programming languages on the Linux
                                services. Running smoke, regression, performance,
                                negative tests, finding as many software defects as
                                possible and reporting, documenting, tracking the
                                resolutions and discussing the potential bug fixes with
                                developers through Jira.</i>
                            </p>
                        </li>
                        <li>
                            <p class = "par"><i>
                                Gained hands-on experience of working on
                                pre-production and production, Python, Linux, Bash,
                                MySQL, AWS resources,Jira, Software Testing, Automation
                                Engineering, Critical and analytical thinking, Multitasking,
                                etc. </i>   
                                <br>
                                <br>                    
                            </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class ="row">
            <div class ="col-md-3">
                <div class = "card-card-body h100">
                    <h5 class="heads">SKILLS</h5>
                    <hr>
                    <ul class="details">
                        <li>Python (Django)</li>
                        <li>Linux</li>
                        <li>SDLC</li>
                        <li>SQL (MySQL, PostgreSQL)</li>
                        <li>Jira</li>
                        <li>Bash/Shell</li>
                        <li>AWS</li>
                        <li>HTML/CSS/JS</li>
                        <li>Troubleshooting</li>
                        <li>Debugging</li>
                        <li>Software Testing</li>
                        <li>Analytical thinking</li>
                        <li>Attention to details</li>
                        <li>Multitasking</li>
                    </ul>
                </div>
            </div>

            <div class ="col-md-9">
                <div class = "card-card-body h100">
                    <h5 class="heads">PREVIOUS WORK EXPERIENCE</h5>
                    <h6><b>Evolution Global</b> - Service Manager | <i>Tbilisi, Georgia</i></h6>
                    <h7 class="work-time">Feb 2022 - Sep 2022</h7>
                    <br>
                    <ul>
                        <li>
                            <p class="par"> <i>
                                Monitoring hardware and software condition of modules,
                                websites, tables.</i>
                            </p>
                        </li>
                        <li>
                            <p class="par"> <i>
                                Checked, analyzed, reported and fixed every issue right in
                                the second minute from appearing. </i>
                            </p>
                        </li>
                        <li>
                            <p class="par"> <i>
                                Got an experience in multitasking, critical thinking,
                                reporting the issues through Jira, Service Desk and
                                Confluence. </i>
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <div style="margin-top: -5px; margin-bottom: -13px;">
                        <h5 class="heads">EDUCATION</h5>
                        <h6><b>Caucasus university</b> - Bachelor's Degree | <i>Tbilisi, Georgia</i></h6>
                        <h7 class="work-time">Sep 2018 - <b>Present</b></h7>
                        <ul>
                            <li>Computer Science</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class ="row">
            <div class ="col-md-3">
                <div class = "card-card-body h100" id="lang">
                    <h5 class="heads">LANGUAGES</h5>
                    <ul class="details">
                        <li><b>Georgian</b> - Native</li>
                        <li><b>English</b> - Fluent</li>
                    </ul>
                </div>
            </div>

            <div class ="col-md-9">
                <div class = "card-card-body h100">
                    <h5 class="heads">CERTIFICATION</h5>
                    <h6><b>IBM</b></h6>
                        <ul>
                            <li>Python for Data Science, AI & Development</li>
                            <li>Django Application Development with SQL and
                                Databases</li>
                        </ul>
                    <h6><b>Google</b></h6>
                    <ul>
                        <li>Troubleshooting and Debugging</li>
                        <li>Crash course on Python</li>
                    </ul>
                    <h6><b>PCAP</b></h6>
                    <ul>
                        <li> Entry-level Python programming</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>